<h1 class="my-4">Artists</h1>

<%= link_to "Back To Home", root_path, class: "btn btn-primary my-4" %>
<% if policy(Album).create? %>
  <%= link_to "Create a New Album", new_album_path, class: "btn btn-success" %>
<% end %>

<div class="artistsList my-4 row text-center">
  <% @artists.each do |artist| %>
    <div class="card col-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= artist.name %></h5>
        <p class="card-text"><%= artist.twitter %></p>
        <%= link_to "See artist's albums", artist_path(artist), class: "btn btn-info" %>
      </div>
    </div>
  <% end %>
</div>
